.foreground {
    color:green;
    align-self: center;
}

.box{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid green;
    background-color: grey
}

body{
    color:gray
}